@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:hsl(0, 0%, 95%);
    padding:3.5rem 1rem;
}
section{  
    border-radius:0.5rem;
    overflow: hidden;
}
h1{
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:hsl(0, 0%, 95%);
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight:700;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
    margin-bottom: 1.4rem;
    line-clamp: 4;
    font-size: 0.9rem;
}
button{
    border: 0;
    background:hsl(0, 0%, 95%);
    width:8rem;
    height:2.5rem;
    border-radius: 2rem;
    cursor: pointer;


}
.part{
    background:red;
    padding:2em 2.5em;
}
.one{
    background: hsl(31, 77%, 52%);
}
.two{
    background: hsl(184, 100%, 22%);
}
.three{
    background: hsl(179, 100%, 13%);
}
img{
    margin-bottom: 1.5rem;
}
.a{
    color:hsl(31, 77%, 52%);
}
.b{
    color:hsl(184, 100%, 22%);
}
.c{
    color:hsl(179, 100%, 13%);;
}
@media only screen and (min-width: 600px){
    body{
        width:100%;
        height:100vh;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    section{
        padding:0;
        display:flex;
        height:30em;
        width:60rem;
        border-radius:1rem;
        overflow: hidden;
    }
    button{
        width:9rem;
        height:3rem;
        border-radius: 7rem;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 15px;
        transition: 0.5ms ease-in-out;
    }
    p{
        line-height: 2em;
        font-size:14px;
        line-clamp: 5;
        margin-bottom:5rem;
    }
    h1{
        font-weight:700;
        font-size: 2.5rem;
        margin-bottom:2rem;
    }
    img{
        margin-bottom:2.3em;
    }
    .a:hover{
        border:3px solid hsl(0, 0%, 95%);
        background:transparent;
        color:white;
    }
    .b:hover{
        border:3px solid hsl(0, 0%, 95%);
        background:transparent;
        color:white;
    }
    .c:hover{
        border:3px solid hsl(0, 0%, 95%);
        background:transparent;
        color:white;
    }
}

